



###################################################
#    *    *   * *   *  ***  *   * ****  *   ****  #
#   * *   **  *  * *  *     *   * *   * *  *      #
#  * M *  * * * E *  *  G   * A * **** -  * X     #
#  *****  *  **  *    *     *   * *   * *  *      #
# *     * *   * *      ***   ***  ****  *   ****  #
###################################################





############
# Leveling #
############

[bltouch]
control_pin: PE5
sensor_pin: PC0
pin_up_touch_mode_reports_triggered: False
x_offset: -30
y_offset: 4
samples: 4
sample_retract_dist: 3.0
speed: 30
z_offset = 2.22 #Lavere når lengre opp. Høyere jo længre ned

[z_tilt]
z_positions:
    -59.21, 140
    379.92, 140
points:
    0, 140
    274, 140
speed: 150
horizontal_move_z: 4
retries: 10
retry_tolerance: 0.005

[bed_mesh]
speed: 150
horizontal_move_z: 4
mesh_min: 0, 30
mesh_max: 235, 290
probe_count: 5,5

[safe_z_home]
home_xy_position: 118, 170
speed: 150
z_hop: 5
z_hop_speed: 20

[screws_tilt_adjust]
screw1: 0,40
screw1_name: front left screw
screw2: 255,40
screw2_name: front right screw
screw3: 255,290
screw3_name: rear right screw
screw4: 0,290
screw4_name: read left screw
horizontal_move_z: 5.
speed: 100.
screw_thread: CW-M3

##################
# Stepper Motors #
##################

[stepper_x]
#PINS#
step_pin: PE2
dir_pin: PE1
enable_pin: !PE3
endstop_pin: tmc2209_stepper_x:virtual_endstop
#MOTION#
position_endstop: -8
position_min: -8
position_max: 305
homing_retract_dist: 0
homing_speed: 70
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200


[stepper_y]
#PINS#
step_pin: PD5
dir_pin: PD4
enable_pin: !PD6
endstop_pin: tmc2209_stepper_y:virtual_endstop
#MOTION#
position_endstop: -16
position_min: -16
position_max: 299
homing_retract_dist: 0
homing_speed: 70
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 400

[stepper_z]
#PINS#
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
#MOTION#
endstop_pin: probe:z_virtual_endstop
position_min:-5
position_max: 300
rotation_distance: 4
microsteps: 16
full_steps_per_rotation: 200

[stepper_z1]
#PINS#
step_pin: PD11
dir_pin: PD10
enable_pin: !PD13
#MOTION#
rotation_distance: 4
microsteps: 16
full_steps_per_rotation: 200

[extruder]
#PINS#
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
heater_pin: PB3
#THERMISTOR AND TEMP#
sensor_type: NTC 100K beta 3950
sensor_pin: PA2
min_temp: 10
max_temp: 260
min_extrude_temp: 180
#MOTION#
microsteps: 16
rotation_distance: 21.426085
gear_ratio: 50:17
full_steps_per_rotation: 200
#PRESSURE ADVANCE#
pressure_advance: 0.46
pressure_advance_smooth_time: 0.040
#MISC#
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 10000.0


#########
# Temps #
#########

[heater_bed]
heater_pin: PD7
sensor_pin: PA1
sensor_type: NTC 100K beta 3950
control = pid
pid_kp = 72.715
pid_ki = 1.339
pid_kd = 987.103
min_temp: 10
max_temp: 250

[fan]
pin: PB6

[heater_fan my_nozzle_fan]
pin: PB7
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 40
fan_speed: 1.0


###################
# Stepper Drivers #
###################

[tmc2209 stepper_x]
uart_pin: PE0
diag_pin = PC1
interpolate: True
run_current = 0.8
hold_current: 0.4
driver_SGTHRS: 115
stealthchop_threshold: 256

[tmc2209 stepper_y]
uart_pin: PD3
diag_pin = PC3
interpolate: True
run_current: 0.8
hold_current: 0.6
driver_SGTHRS: 165
stealthchop_threshold: 256
 
[tmc2209 extruder]
uart_pin: PC6
run_current: 0.8
hold_current: 0.4

[tmc2209 stepper_z]
uart_pin: PD0
run_current: 0.95
hold_current: 0.8
stealthchop_threshold: 256

[tmc2209 stepper_z1]
uart_pin: PD12
run_current: 0.95
hold_current: 0.8
stealthchop_threshold: 256


##############
#Input Shaper#
##############

#[input_shaper]
#shaper_freq_x: 42
#shaper_type_x: mzv
#shaper_freq_y: 53
#shaper_type_y: mzv


################
# Misc Settings#
################

[output_pin motor_power]
pin: PC13
value: 1

[endstop_phase]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_26002C001247393437363439-if00

[printer]
kinematics: cartesian
max_velocity: 125
max_accel: 1000
max_accel_to_decel: 750
max_z_velocity: 4
max_z_accel: 90

[virtual_sdcard]
path: ~/gcode_files

[controller_fan top_fan_1]
pin:PB5
max_power: 1
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0
stepper: stepper_x
fan_speed: 0.6
idle_timeout: 20

[controller_fan top_fan_2]
pin:PB4
max_power: 1
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0
stepper: stepper_x
fan_speed: 0.6
idle_timeout: 10

##########
# MACROS #
##########

[pause_resume]

[gcode_macro START_PRINT]
gcode:
    G92 E0 ; Reset Extruder
    G28 ; Home all axes
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder
    G90 # Use absolute coordinates
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish

[gcode_macro END_PRINT]
gcode:
    G91 # Move nozzle away from print while retracting
    G1 X-2 Y-2 E-3 F300 # Move nozzle away from print while retracting
    G1 Z10 F3000   # Raise nozzle by 10mm
    G1 X30 Y50 F3000 ;Wipe out
    G1 Z5 ;Raise Z more
    G90 # Use absolute coordinates
    M140 S0 # Turn off bed, extruder, and fan
    M104 S0 # Turn off bed, extruder, and fan
    M106 S0 # Turn off bed, extruder, and fan
    M84 X Y E ;Disable all steppers but Z


[gcode_macro PRE_EXTRUDE]
gcode:
      G1 Z2.0 F3000
      G1 X0.2 Y30 Z0.3 F3000.0
      G1 X0.2 Y200.0 Z0.3 F1500.0 E15
      G1 X0.6 Y200.0 Z0.3 F3000.0
      G1 X0.6 Y20 Z0.3 F1500.0 E30
      G1 X0.8 Y20 Z0.5 F1500.0

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  
########################################
# EXP1 / EXP2 (display) pins
########################################


[display_status]

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.549
#*# pid_ki = 0.697
#*# pid_kd = 137.084
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.191993, -0.136368, -0.087306, -0.104806, -0.163243
#*# 	  -0.061681, -0.005118, 0.050194, 0.043319, -0.055743
#*# 	  -0.016056, 0.060507, 0.128319, 0.106444, -0.013243
#*# 	  -0.067618, 0.023632, 0.110507, 0.102382, -0.034493
#*# 	  -0.131056, -0.031993, 0.038632, -0.014806, -0.134806
#*# tension = 0.2
#*# min_x = 0.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 5
#*# max_y = 290.0
#*# mesh_x_pps = 2
#*# max_x = 235.0
